/* common styles fonts work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

* {
  font-family: 'Work Sans', sans-serif;

}

body {}

/* nav section styls start */



header {
  background: rgba(255, 144, 14, 0.10);
  padding: 0 150px;
  width: 1040px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-link>ul {
  display: flex;
  list-style: none;
  margin-right: 10px;


}

.nav-link li {
  margin-left: 30px;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* discription styls start */

.discription-section {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;

}

.discription-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.text-gray-common {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  font-size: 1rem;
  color: var(--dark-03, #727272);
}

.btn-common {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #FF900E;
  border: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FFF;
}

.position {
  margin-left: ;
}

.discriptio-container img {
  width: 100%;
}

/* team section is start */

main {
  max-width: 1040px;
  margin: 70px auto;

}

.emplye-box-container {
  display: flex;
  align-items: center;
}

.employee-img-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.emplye-box-container img {
  width: 100%;
}

.emplyee-discription-container {
  padding-left: 70px;
  padding-right: 70px;
}

.empl-box-title {
  font-size: 2.8rem;
}

.expl-title-one {
  color: #727272;
  font-weight: 500;
}

.empl-title-two {
  color: #131313;
  font-weight: 700;
}

.expl-title-three {
  color: #FF900E;
  font-weight: 700;
}

/* award container style start  */
.award-container {
  max-width: 1040px;
  display: flex;
  margin-top: 130px;
  gap: 50px;
}

.award-container>img {
  width: 70%;
}

.award-title {
  width: 468px;
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  border-left: 5px solid sandybrown;
  padding-left: 10px;
}

.item {
  width: 586px;
  height: 171px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 10px;
  margin-bottom: 20px;
}

.item h3 {
  color: #131313;
  font-size: 1.1rem;
  font-weight: 600;

}

.item p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.over-btn {
  width: 242px;
  height: 100px;
  border-radius: 8px;
  background: #FF900E;
  margin-top: 0;
  position: relative;
  border: 100px;
}

.extra {
  color: #FFF;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 50px;
  /* 107.692% */
}

.over-small {
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 30px;
}



/* */

/* Responsive midea queary */
/* small device */
@media screen and (max-width:576px) {
  header {
    padding: 10px;
    width: auto;
    margin: 0 auto;
  }

  .nav-container,
  .emplye-box-container,
  .award-container {
    flex-direction: column;
  }

  .discriptio-container img {
    width: 100%;
  }

  .employee-img-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .award-container {
    margin: 0 auto;
    align-items: center;
  }

  main {
    margin: 0 auto;

  }

  .award-container img {
    width: 0;
  }

  .item {
    width: 380px;
    margin: 0 auto;
    align-items: center;
  }

}


@media screen and (min-width: 576px) and (max-width:992px) {
  header {
    padding: 10px;
    width: auto;
  }

  .nav-container,
  .emplye-box-container,
  .award-container {
    flex-direction: column;
  }

  .award-container {
    margin: 0 auto;
    align-items: center;

  }

  .text-gray-common {
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px;
    margin-bottom: 20px;
  }

  .medium {
    padding-left: 100px;
  }
}